@import '../../../styles/all';

.section {
  position: relative;
  display: grid;
  grid-template-columns: $grid-gap 1fr $grid-gap;
  grid-row-gap: $grid-gap;

  &-main {
    grid-column-start: 2;
  }

  &-context {
    grid-column-start: 2;

    @media (min-width: $bp-medium) {
      grid-column-start: 1;
    }
  }

  @media (min-width: $bp-medium) {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 $grid-gap * 2;
  }
}
