@import '../../../styles/all';

.project-body {
  line-height: 1.3em;
  margin: 0;
  white-space: pre-line;
}

.project-list {
  margin: 0;
  padding: 0;
}

.project-listItem {
  margin-right: $grid-gap;
  display: inline-block;
}
