@import '../../../styles/all';

.project-header {
  font-size: 1.8em;
  font-weight: 200;
  margin: 0;

  @media (min-width: $bp-medium) {
    font-size: 2.8em;
  }
}

.project-subHeader {
  font-weight: 200;
  font-size: 1.2em;
  color: #8c8c8c;
  margin: 0;

  @media (min-width: $bp-medium) {
    font-size: 1.5em;
  }
}
