@import './normalize';

$bp-medium: 720px;
$grid-gap-sm: 25px;
$grid-gap-lr: 45px;
$grid-gap: 15px;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #3e5061;

  @media (min-width: $bp-medium) {
    font-size: 18px;
  }
}

.projects {
  display: grid;
  grid-gap: $grid-gap-sm;

  @media (min-width: $bp-medium) {
    grid-gap: $grid-gap-lr;
  }
}
