@import './normalize';

$bp-medium: 720px;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #3E5061;
  overflow-x: hidden;
  
  @media (min-width: $bp-medium) {
    font-size: 18px;
  }
}

header {
  height: 80vh;
  display: flex;
  align-items: center;

  .h1 {
    margin: 0;
    font-weight: 200;

    @media (min-width: $bp-medium) {
      font-size: 4em;
    }
  }

  .h2 {
    margin: 0;
    font-weight: 100;

    @media (min-width: $bp-medium) {
      font-size: 2em;
    }
  }
}

.project {
  margin-bottom: 30px;

  @media (min-width: $bp-medium) {
    margin-bottom: 0;
  }

  .project-ribbon {
    background: rgb(232, 232, 232);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc((75px / 2) + 50%);
    z-index: -1;
  }

  .project-title {
    font-size: 3em;
    font-weight: 200;
    margin: 0;
  }

  .project-subTitle {
    font-weight: 100;
    font-size: 1em;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  
  .project-body {
    line-height: 1.3em;
    margin: 0;
    white-space: pre-line;
  }

  .project-list {
    margin: 0;
    padding: 0;

    .project-listItem {
      margin-right: 15px;
      display: inline-block;
    }
  }
}

.section {
  position: relative;
  padding: 15px;

  @media (min-width: $bp-medium) {
    padding: 45px 30px;

    &--top {
      padding: 75px 30px 0 30px;
    }
  }

  &--divider {
    border-top: 1px solid #ebebeb;
  }
}

.col {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0;

  &--span1 {
    @media (min-width: $bp-medium) {
      width: 25%;
    }
  }
  
  &--span2 {
    @media (min-width: $bp-medium) {
      width: 50%;
    }
  }
  
  &--offset1 {
    @media (min-width: $bp-medium) {
      margin-left: 25%;
    }
  }
}
