@import '../../../styles/all';

.project-ribbon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc((75px / 2) + 50%);
  z-index: -1;

  &--theme1 {
    background: #fdf6e6;
  }

  &--theme2 {
    background: #fddbdc;
  }

  &--theme3 {
    background: #fca5a9;
  }

  &--theme4 {
    background: #c4dcef;
  }

  &--theme5 {
    background: #aab5cd;
  }
}
